@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: absolute;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.greet-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 50px;

    justify-content: center;
    text-align: center;

    background-color: #343434;
    z-index: 1000;
    transition: 0.2s ease;
}

.greet-modal.greet-modal_hidden {
    display: none;
}

.greet-modal__text {
    position: fixed;
    top: 40%;
    color: #eee;
    text-align: center;
}

.greet-modal__button {
    position: fixed;
    top: 45%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    color: #eee;
    background-color: #ff0000;
    cursor: pointer;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

.clicks-container{
    position: fixed;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    background: #1b1a1a;
    border-radius: 5px;
}

.clicks-amount__statistic  {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 70px;
    background: #1b1a1a;
    border-radius: 5px;
}

.clicks-amount__close-button {
    position: relative;
    background-color: #ff0000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: calc(100% - 10px);
    bottom: 5px;
    cursor: pointer;
}

.clicks-amount {
    position: fixed;
    padding: 10px;
    color: #eee;
    font-size: 20px;
}

.timerElement{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: lightgray;
}

.shape {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shape.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.shape.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid;
}

